<?xml version="1.0" encoding="UTF-8"?>
<!--
 Copyright (c) 2006, 2007 Oliver Stewart.  All Rights Reserved.

 This file is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2, or (at your option)
 any later version.

 This file is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userFactory"
          class="com.trailmagic.user.hibernate.HibernateUserFactory">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="groupFactory"
          class="com.trailmagic.user.hibernate.HibernateGroupFactory">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean id="hibernateUserDetailsService"
          class="com.trailmagic.user.security.HibernateUserDetailsService">
        <property name="userFactory">
            <ref local="userFactory"/>
        </property>
        <property name="groupFactory" ref="groupFactory"/>

    </bean>
</beans>