body {
  margin: 0;
}

#globalHeader {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  font-size: 80%;
  padding: 0;
}

#globalFooter .topHeader {
  width: 90%;
  margin-right: 10%;
}

#globalHeader .userAuth {
  float: none;
  text-align: right;
  width: 90%;
} 

#globalHeader .breadcrumbs{
  float:left;
  text-align: left;
  width: 66%;
}

#globalHeader #sitename {
  background-color: #00149f;
  font-size: 24pt;
  height: 1em;
  width: 90%;
  clear: both;
  font-family: sans-serif;
  font-size: 24pt;
}

#globalHeader #sitename h1 {
  color: #c8c5c5;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.09em;
  font-family: sans-serif;
  font-size: 24pt;
}

#globalFooter {
  float: left; 

  margin-left: auto;
  margin-right: auto;

  font-size: 80%;
  padding: 1ex;
}

#globalFooter .footerLeft{
  float: left;
}

#globalFooter .footerRight{
  float: right;
}

#header {
  width: 100%; /* no children floated right */
  float: left;
}

#header #pageDescription {
  font-variant: small-caps;
  font-family: sans-serif;
  font-size: 125%;
}

#header .thingDescription {
  padding: 0.3em;
  padding-bottom: 0;
  margin: 0;
}

#imageGroupDescription {
  padding: 1ex;
}

.ownerName {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

#header .imageCount {
  padding-top: 0;
  padding-right: 1ex;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
/*  width: 99%; */
}

.thumbnailList {
  clear: both;
  list-style: none;
	
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.thumbnailList li {
  display: inline;
}


.thumbnailList li a img {
  border-style: solid;
  border-width: 0;
  vertical-align: middle;
  margin-bottom: 0;
}

.thumbnailList li a img:hover {
  border-style: solid;
  background-color: #759fe3;
}

.thumbnailList li a img:active {
  border-style: solid;
}

.thumbnailList img.portrait {
  padding: 8px 36px;
}

.thumbnailList img.landscape {
  padding: 36px 8px;
}

.navSection {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  float: left;
/* width was commented */
  width: 99%;
  padding-left: 1ex;
  padding-right: 1ex;
}

.prevNav {
  /*float: left;*/
/*  width: 50%; */
  text-align: left;
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.nextNav {
  /*float: right;*/
/*  width: 50%; */
  text-align: right;
  position: fixed;
  right: 5px;
  bottom: 5px;
}

.navSection img {
	opacity: 0.2;
	border-width: 0;
}

.navSection img:hover {
    opacity: 0.8;
}

.imageDisplay {
clear: both;
  text-align: center;
/*  width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.imageDisplay img {
  padding: 2.5%;
}

.imageDetails {
  margin-left: 20%;
  margin-right: 20%;
}

.photoProperties {
  text-align: center;
}
.imageGroups {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2em;
}

h1.pageTitle {
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bold;
  margin-top: 0;
  margin-left: 1em;
}

.imageGroup .displayName {
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bold;
}

.imageGroup .imageCount {
  font-size: 85%;
}

.imageGroup .description {
  text-align: justify;
}

.ads {
 margin-left: auto;
 margin-right: auto;
}

.adbox {
 margin-left: auto;
 margin-right: auto;
}


#imageGroupDisplay .imageGroup,#image .imageGroup {
    width: 90%;
}

#imageGroupDisplay .groupData,#image .groupData {
    float: none;
    margin-right: 0;
}

#image .imageGroup .displayName a {
    text-decoration: none;
    color: black;
}

#image .imageGroup .displayName a:hover {
    background-color: #759fe3;
}

#imageGroupDisplay .imageGroup .description {
    margin-left: 2em;
}

.imageGroup .owner {
    float: right;
    text-align: right;
}

.imageGroup {
    clear: both;
    width: 100%;
}

.preview {
    float: left;
    margin-right: 10%;
}

.preview img {
    border: 1px solid black;
}

.groupData {
    display: block;

}

.groupData .displayName, .groupData .imageCount {
    display: block;
    text-align: right;
    float: right;
    clear: right;
}

.groupData .displayName {
}

.groupData .description {
    display: block;
    clear: right;
}


a.bigLink {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2em;
    margin: 0 10% 0 5%;
}

a.bigLink:hover {
    text-decoration: none;
    color: black;
    display: block;
    padding: 2em;
    background-color: #759fe3;
}

#imageGroupList .imageGroups {
    margin-left: 0;
    margin-right: 0;
}

#imageGroupList .imageGroup {
    margin: 0;
    width: 100%;
}

#imageGroupList .groupData {
    margin-left: 240px;
}

#imageGroupList .bigLink {
    padding: 2em 5%;
}

.imageGroups .groupData :after {
    content: "&nbsp;";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.main {
    clear: both;
    margin-left: 2%;
    margin-right: 2%;
}

.imageAdmin {
    clear: both;
}