body {
  margin: 0px;
  padding: 0px;
}

#globalHeader {
  margin-left: auto;
  margin-right: auto;

/*	width: 100%; */
  float: left;
  font-size: 80%;
  padding: 1ex;
}

#globalHeader .userAuth {
  float: right;
/*	width: 40%; */
  text-align: right;
} 

#globalHeader .breadcrumbs{
  float: left;
/*	width: 60%; */
  text-align: left;
}

#globalFooter {
/* 	float: left; */

  margin-left: auto;
  margin-right: auto;

/*	width: 100%; */
  font-size: 80%;
  padding: 1ex;
}

#globalFooter .footerLeft{
  float: left;
}

#globalFooter .footerRight{
  float: right;
}

#header {
  float: left;
  width: 100%;
}

#header .thingDescription {
  padding: 0.3em;
  padding-bottom: 0;
  margin-bottom: 0;
}

#imageGroupDescription {
  padding: 1ex;
}

.ownerName {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  margin-top: 0;
}

.imageCount {
  padding-top: 0;
  padding-right: 1ex;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
/*  width: 99%; */
}

.thumbnailList {
  list-style: none;
	
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 0px;
}

.thumbnailList li {
  display: inline;
}


.thumbnailList li a img {
  border-style: solid;
  padding: 5px;
  vertical-align: middle;
}

.thumbnailList li a img:hover {
  border-style: solid;
}

.thumbnailList li a img:active {
  border-style: solid;
}

.navSection {
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 100%;
}

.prevNav {
  float: left;
/*  width: 50%; */
  text-align: left;
}

.nextNav {
  float: right;
/*  width: 50%; */
  text-align: right;
}

.imageDisplay {
  text-align: center;
/*	width: 80%; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.imageDisplay img {
  padding: 2.5%;
}

.photoProperties {
  text-align: center;
}

.imageGroupList {
/*  width: 100%;
  clear: both;*/ /* float: left also works */
  float: left;
}

