body {
  margin: 0px;
  padding: 0px;
}

#globalHeader {
  margin-left: auto;
  margin-right: auto;

/*	width: 100%; */
  float: left;
  font-size: 80%;
  padding: 1ex;
}

#globalHeader .userAuth {
  float: right;
/*	width: 40%; */
  text-align: right;
} 

#globalHeader .breadcrumbs{
  float: left;
/*	width: 60%; */
  text-align: left;
}

#globalFooter {
  float: left; 

  margin-left: auto;
  margin-right: auto;

/*	width: 100%; */
  font-size: 80%;
  padding: 1ex;
}

#globalFooter .footerLeft{
  float: left;
}

#globalFooter .footerRight{
  float: right;
}

#header {
  float: left;
  width: 100%; /* no children floated right */
}

#header .thingDescription {
  padding: 0.3em;
  padding-bottom: 0;
  margin: 0;
}

#imageGroupDescription {
  padding: 1ex;
}

.ownerName {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#header .imageCount {
  padding-top: 0;
  padding-right: 1ex;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
/*  width: 99%; */
}

.thumbnailList {
  list-style: none;
	
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumbnailList li {
  display: inline;
}


.thumbnailList li a img {
  border-style: solid;
  padding: 5px;
  vertical-align: middle;
}

.thumbnailList li a img:hover {
  border-style: solid;
}

.thumbnailList li a img:active {
  border-style: solid;
}

.navSection {
  margin-left: auto;
  margin-right: auto;
  float: left;
/*  width: 100%;*/
  padding-left: 1ex;
  padding-right: 1ex;
}

.prevNav {
  float: left;
/*  width: 50%; */
  text-align: left;
}

.nextNav {
  float: right;
/*  width: 50%; */
  text-align: right;
}

.imageDisplay {
  text-align: center;
/*  width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.imageDisplay img {
  padding: 2.5%;
}

.photoProperties {
  text-align: center;
}
.imageGroups {

  clear: left;
  float: left;

  width: 100%;

  margin: 0;
  border: 0;
  padding: 0;
}

.imageGroups .imageGroup {

  clear: left;
  float: left;


  /* width + margins ~97% */
  width: 91%;

  margin-left: auto;
  margin-right: auto;

  margin-top: 2em;

  padding: 0px;
}

.imageGroup a.bigLink {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
  margin: 0px;
  padding: 3%;
  border-style: solid;
  border-width: 3px;
}

.imageGroup .groupData {

  clear: left;
  float: left;

  width: 62%;
    /* found experimentally using target font
       size and minimum window width  */
  min-width: 192px;

  margin: 0;

  border: 0;

  padding: 0;
  padding-bottom: 1ex;
    /* for when the image falls below the text */

}

.imageGroup .displayName {

  margin: 0;
  padding: 0;

  font-size: 115%;

}

.imageGroup .imageCount {

  margin: 0;
  margin-top: 1ex;
  margin-left: 2%;
  padding: 0;

  font-size: 85%;

}

.imageGroup .description {
  margin: 0;
  margin-top: 2ex;
  margin-left: 2%;
  padding: 0;

}

.imageGroup .preview {

  clear: right;
  float: right;

  max-width: 205px;
  min-width: 192px;
    /* 192px of pic + 5px padding Left & Right */

  margin: 0;

  border-width: 2px;
  border-style: solid;
  padding: 4px;

  text-align: right;
  font-size: 80%;
  
}

.imageGroup .preview a {

  margin: 0;
  border: 0;
  padding: 0;

  vertical-align: middle;
  
}

.imageGroup .preview a img {

  margin-left: auto;
  margin-right: auto;
  border-width: 0;
  border-style: none;
  padding: 0;
  vertical-align: middle;

}

