
#globalHeader {
	margin-left: auto;
	margin-right: auto;

	width: 100%;
	float: left;
	//height: 1ex;	// Giving this a height seems to allow the header to sit higher on the 
                        // page; something to do w/ padding, I think --gs

	/*white-space: nowrap;*/  //This causes subDivs to overlap in a small window
	/*clear: both;*/
}

#globalHeader .userAuth {
	float: right;
	width: 40%;
	font-size: 80%;
	text-align: right;
        padding-bottom: 1em;
} 

#globalHeader .breadcrumbs{
	float: left;
	width: 60%;
	font-size: 80%;
	text-align: left;
}

#globalFooter {
	float: left;

	margin-left: auto;
	margin-right: auto;

	width: 100%;
	font-size: 80%;

	white-space: nowrap;
	/*clear: both;*/
}

#globalFooter .footerLeft{
	float: left;
}

#globalFooter .footerRight{
	float: right;
}



#imageGroup #header {
	float: left;

//	clear: both;
}

#imageGroupDescription {
  padding: 0.5em;
}


#header {
	float: left;
	width: 100%;
}

#header .thingDescription {
 padding: 0.3em;
}

#imageGroup #header .thingDescription {
 padding-bottom: 0;
 margin-bottom: 0;
}

.ownerName {
  width: 80%;
  margin: auto;
  padding-top: 0;
  margin-top: 0;
}

.imageCount {
  padding-top: 0;
  padding-right: 1em;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 99%;
}

.navSection {
	margin-left: auto;
	margin-right: auto;
	float: left;
	width: 100%;
}

.prevNav {
	float: left;
	width: 50%;
	text-align: left;
}

.nextNav {
	float: right;
	width: 50%;
	text-align: right;
}

.imageDisplay {
	text-align: center;
//	width: 80%;
        width: 100%;
	margin: auto;
        padding-bottom: 1em;
}

.imageDisplay img {
	padding: 2.5%;
}

.photoProperties {
	text-align: center;
}

.thumbnailList {
	list-style: none;
	
	text-align: center;

	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.thumbnailList li {
	display: inline;
}


.imageGroupList {
  width: 100%;
  clear: both; // float: left also works
}

.thumbnailList li a img {
	border-style: solid;
	padding: 5px;
	vertical-align: middle;
}

.thumbnailList li a img:hover {
	border-style: solid;
}

.thumbnailList li a img:active {
	border-style: solid;
}
