
#globalHeader {
	background-color: orange; // this doesn't do anything for floats

	margin-left: auto;
	margin-right: auto;

	width: 100%;
//	clear: both;
        height: 1em;
        white-space: nowrap;
}

#globalHeader .userAuth {
	float: right;
} 

#globalHeader .breadcrumbs{
	float: left;
}

#globalFooter {
	background-color: purple;

	margin-left: auto;
	margin-right: auto;

	width: 100%;
//	clear: both;
        height: 1em;
        white-space: nowrap;
}

#globalFooter .footerLeft{
	float: left;
}

#globalFooter .footerRight{
	float: right;
}


#imageGroup {
	background-color: yellow;
}


#imageGroup #header {
	background-color: red;

//	clear: both;
}

#image {
  background-color: yellow;
}

#image #header {
       background-color: red;
//       clear: both;
}

.thingDescription {
  background-color: blue;
}

.navSection {
  width: 100%;
  clear: both;
}

.prevNav {
//  width: 50%;
//  text-align: left;
  float: left;
}

.nextNav {
//  width: 50%;
//  text-align: right;
  float: right;
}

.imageDisplay {
  background-color: gray;
  text-align: center;
  width: 80%;
  margin: auto;
}

.photoProperties {
  background-color: green;
//  clear: both;
  text-align: center;
}

.thumbnailList {
	background-color: gray;

	display: block;
	list-style: none;
	
	text-align: center;

	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

.thumbnailList li {
	display: inline;
}


#imageGroup #imageGroupDescription {
	background-color: green;
}

.thumbnailList li a img {
	border-color: gray;
	border-style: solid;
	padding: 5px;
	vertical-align: middle;
}

.thumbnailList li a img:hover {
	border-style: solid;
	border-color: blue;
}

.thumbnailList li a img:active {
	border-style: solid;
	border-color: lightgray;
}
