#globalHeader {
 background-color: white;
 color: black;
}

#globalHeader .userAuth {
 background-color: white;
 color: black;
}

#globalHeader .breadcrumbs {
 background-color: white;
 color: black;
}

#globalFooter {
 background-color: white;
 color: black;
}

#globalFooter .footerLeft {
 background-color: white;
 color: black;
}

#globalFooter .footerRight {
 background-color: white;
 color: black;
}

#imageGroup {
 background-color: white;
 color: black;
}

#imageGroup #header {
 background-color: #d3d3d3;
 color: black;
}

#image {
  background-color: white;
  color: black;
}

#header {
// background-color: #d3d3d3;
 background-color: white;
 color: black;
}

#header #sitename {
  background-color: #00149f;
}

#header #pageDescription {
  background-color: white;
}

.thingDescription {
/* background-color: lightblue; */
}

.navSection {
 background-color: white;
 color: black;
}

.prevNav {
/* background-color: white; */
}

.nextNav {
/* background-color: white; */
}

.imageDisplay {
 background-color: #a9a9a9;
}

.photoProperties {
/*	background-color: white; */
}

.thumbnailList {
	background-color: white;
}

#imageGroup #imageGroupDescription {
/*	background-color: #a9a9a9; */
}


.thumbnailList li a img:hover {
	border-color: blue;
}

.thumbnailList li a img:active {
	border-color: #d3d3d3;
}


.imageGroups {

}

.imageGroups .imageGroup {
}

.imageGroup a.bigLink {
  border-color: black;
}

.imageGroup a.bigLink:hover {
  border-color: blue;
//  background-color: #a9a9a9;
  background-color: #759fe3;
/*  opacity: 0.75; */
}

.imageGroup .preview {
  border-color: gray;
}

.ads {
 background-color: #d3d3d3;
 color: black;
}
