body {
  margin: 0px;
}

#globalHeader {
  margin-left: auto;
  margin-right: auto;
  /* width was commented */
//  width: 99%;
  width: 90%;
  float: left;
  font-size: 80%;
//  padding: 1ex;
  padding: 0;
}

#globalHeader .userAuth {
  float: right;
/*	width: 40%; */
  text-align: right;
} 

#globalHeader .breadcrumbs{
  float: left;
/*	width: 60%; */
  text-align: left;
}

#globalFooter {
  float: left; 

  margin-left: auto;
  margin-right: auto;

/*	width: 100%; */
  font-size: 80%;
  padding: 1ex;
}

#globalFooter .footerLeft{
  float: left;
}

#globalFooter .footerRight{
  float: right;
}

#header {
  width: 100%; /* no children floated right */
  float: left;
//  margin-top: 2em;
}

#header #sitename {
  background-color: #00149f;
  font-size: 24pt;
  height: 1em;
  width: 90%;
}

#header #sitename h1 {
  color: #c8c5c5;
  float: left;
  font-family: sans-serif;
  font-size: 24pt;
  margin-left: 0.5em;
  margin-top: 0.09em;
}

#header #pageDescription {
  font-variant: small-caps;
}

#header .thingDescription {
  padding: 0.3em;
  padding-bottom: 0;
  margin: 0;
}

#imageGroupDescription {
  padding: 1ex;
}

.ownerName {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#header .imageCount {
  padding-top: 0;
  padding-right: 1ex;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
/*  width: 99%; */
}

.thumbnailList {
  clear: both;
  list-style: none;
	
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.thumbnailList li {
  display: inline;
}


.thumbnailList li a img {
  border-style: solid;
  padding: 5px;
  vertical-align: middle;
}

.thumbnailList li a img:hover {
  border-style: solid;
}

.thumbnailList li a img:active {
  border-style: solid;
}

.navSection {
clear: both;
  margin-left: auto;
  margin-right: auto;
  float: left;
/* width was commented */
  width: 99%;
  padding-left: 1ex;
  padding-right: 1ex;
}

.prevNav {
  float: left;
/*  width: 50%; */
  text-align: left;
}

.nextNav {
  float: right;
/*  width: 50%; */
  text-align: right;
}

.imageDisplay {
clear: both;
  text-align: center;
/*  width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.imageDisplay img {
  padding: 2.5%;
}

.photoProperties {
  text-align: center;
}
.imageGroups {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2em;
}

.imageGroups .imageGroup {
  clear: left;
  padding: 0px;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.imageGroup span {
  display: block;
}

.imageGroup a.bigLink {
  display: block;
  height: 100%;
  margin: 0px;
  padding: 8pt;
  color: black;
  text-decoration: none;
}

.imageGroup .groupData {
  float: right;
  margin: 2%;
  text-align: right;
  width: 70%;
}

.imageGroup .displayName {

  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 150%;
  font-weight: bold;

}

.imageGroup .imageCount {

  margin: 0;
  margin-top: 1ex;
/*  margin-left: 2%; */
  margin-left: 2em;
  padding: 0;

  font-size: 85%;

}

.imageGroup .description {
  text-align: justify;
  width: 55%;
  margin-right: 40%;
  margin-left: 5%;
  padding-right: 0pt;
}

.imageGroup .preview {
}

.imageGroup .preview a {
  
}

.imageGroup .preview img {
  border-width: 1px;
}

.ads {
 margin-left: auto;
 margin-right: auto;
}

.adbox {
 margin-left: auto;
 margin-right: auto;
}
