<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
 Copyright (c) 2006 Oliver Stewart.  All Rights Reserved.

 This file is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2, or (at your option)
 any later version.

 This file is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
-->

  <!-- basic stuff is setup in applicationContext-global.xml -->
<beans>
  <bean id="imageGroupFactory"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.trailmagic.image.ImageGroupFactory</value>
    </property>
    <property name="targetName">
      <value>imageGroupFactoryTarget</value>
    </property>
    <property name="interceptorNames">
      <list>
        <idref local="transactionInterceptor"/>
        <idref bean="imageFactorySecurity"/>
      </list>
    </property>
  </bean>

  <bean id="imageGroupFactoryTarget"
    class="com.trailmagic.image.hibernate.HibernateImageGroupFactory">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
    <property name="hibernateTemplate">
      <ref bean="hibernateTemplate"/>
    </property>
  </bean>

  <bean id="imageManifestationFactory"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.trailmagic.image.ImageManifestationFactory</value>
    </property>
    <property name="targetName">
      <value>imageManifestationFactoryTarget</value>
    </property>
    <property name="interceptorNames">
      <list>
        <idref local="transactionInterceptor"/>
        <idref bean="imageFactorySecurity"/>
      </list>
    </property>
  </bean>

  <bean id="imageManifestationFactoryTarget"
    class="com.trailmagic.image.hibernate.HibernateImageManifestationFactory">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>

  <bean id="imagesParser"
    class="com.trailmagic.image.util.ImagesParser">
    <constructor-arg index="0"><value>false</value></constructor-arg>
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
    <property name="baseDir">
      <value>/photo/import</value>
    </property>
    <property name="imageSecurityFactory">
      <ref bean="imageSecurityFactory"/>
    </property>
  </bean>


  <bean id="transactionInterceptor"
    class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager">
      <ref bean="transactionManager"/>
    </property>
    <property name="transactionAttributeSource">
      <value>
        com.trailmagic.image.hibernate.HibernateImageFactory.getById=PROPAGATION_REQUIRED,readOnly
        com.trailmagic.image.hibernate.HibernateImageFactory.getByName=PROPAGATION_REQUIRED,readOnly
        com.trailmagic.image.hibernate.HibernateImageFactory.getAll=PROPAGATION_REQUIRED,readOnly
        com.trailmagic.image.hibernate.HibernateImageFactory.getByNameAndGroup=PROPAGATION_REQUIRED,readOnly
      </value>
    </property>
  </bean>

  <bean id="testInterceptor"
    class="com.trailmagic.image.security.TestMethodInterceptor"/>

  <bean id="imageFactory"
    class="org.springframework.aop.framework.ProxyFactoryBean">
    <property name="proxyInterfaces">
      <value>com.trailmagic.image.ImageFactory</value>
    </property>
    <property name="targetName">
      <value>imageFactoryTarget</value>
    </property>
    <property name="interceptorNames">
      <list>
        <idref local="transactionInterceptor"/>
        <idref bean="imageFactorySecurity"/>
        <idref local="testInterceptor"/>
      </list>
    </property>
  </bean>

  <bean id="imageFactoryTarget"
    class="com.trailmagic.image.hibernate.HibernateImageFactory">
    <property name="hibernateTemplate"><ref bean="hibernateTemplate"/></property>
  </bean>

<!--
  <bean id="hibernateInterceptor"
    class="org.springframework.orm.hibernate3.HibernateInterceptor">
    <property name="sessionFactory">
      <ref bean="sessionFactory"/>
    </property>
  </bean>
-->
</beans>
