<!DOCTYPE context>
  <Context path="/images">
    <!--
  <Resource name="jdbc/trailmagic" scope="Shareable"
    type="javax.sql.DataSource" auth="Container" username="trailmagic"
    password="password" driverClassName="org.postgresql.Driver"
    url="jdbc:postgresql://localhost/trailmagic"
    maxWait="3000" maxIdle="100" maxActive="10"/>
    -->
    <Resource name="jdbc/trailmagic" scope="Shareable"
      type="javax.sql.DataSource" auth="Container" username="trailmagic"
      password="password" driverClassName="com.mysql.jdbc.Driver"
      url="jdbc:mysql://localhost/trailmagic?emulateLocators=true"
      maxWait="3000" maxIdle="100" maxActive="10" emulateLocators="true"/>

  <Realm className="org.apache.catalina.realm.JAASRealm"
    appName="ImageStore"
    userClassNames="com.trailmagic.user.UserPrincipal"
    roleClassNames="com.trailmagic.user.GroupPrincipal"/>
</Context>
