<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

  <!-- basic stuff is setup in applicationContext-global.xml -->
<beans>
  <bean id="linkHelper"
    class="com.trailmagic.image.ui.LinkHelper">
    <property name="albumServletPath">
      <value>/albums/</value>
    </property>
  </bean>

  <bean id="imageFactory"
    class="com.trailmagic.image.hibernate.HibernateImageFactory">
    <property name="sessionFactory"><ref local="sessionFactory"/></property>
  </bean>

  <bean id="imageGroupFactory"
    class="com.trailmagic.image.hibernate.HibernateImageGroupFactory">
    <property name="sessionFactory"><ref
        local="sessionFactory"/></property>
  </bean>

  <bean id="imageManifestationFactory"
    class="com.trailmagic.image.hibernate.HibernateImageManifestationFactory">
    <property name="sessionFactory">
      <ref local="sessionFactory"/>
    </property>
  </bean>

  <bean id="imagesParser"
    class="com.trailmagic.image.util.ImagesParser">
    <constructor-arg index="0"><value>false</value></constructor-arg>
    <property name="sessionFactory">
      <ref local="sessionFactory"/>
    </property>
    <property name="baseDir">
      <value>/photo/import</value>
    </property>
  </bean>

<!--
  <bean id="hibernateInterceptor"
    class="org.springframework.orm.hibernate.HibernateInterceptor">
    <property name="sessionFactory">
      <ref local="sessionFactory"/>
    </property>
  </bean>
-->
</beans>
