<!DOCTYPE context>
<Context path="/images">
  <Resource name="jdbc/trailmagic" scope="Shareable"
    type="javax.sql.DataSource"/>
  <ResourceParams name="jdbc/trailmagic">
    <parameter>
      <name>factory</name>
      <value>org.apache.commons.dbcp.BasicDataSourceFactory</value>
    </parameter>
    
    <!-- DBCP database connection settings -->
    <parameter>
      <name>url</name>
      <value>jdbc:postgresql://localhost/trailmagic</value>
    </parameter>
    <parameter>
      <name>driverClassName</name><value>org.postgresql.Driver</value>
    </parameter>
    <parameter>
      <name>username</name>
      <value>trailmagic</value>
    </parameter>
    <parameter>
      <name>password</name>
      <value>password</value>
    </parameter>
    
    <!-- DBCP connection pooling options -->
    <parameter>
      <name>maxWait</name>
      <value>3000</value>
    </parameter>
    <parameter>
      <name>maxIdle</name>
      <value>100</value>
    </parameter>
    <parameter>
      <name>maxActive</name>
      <value>10</value>
    </parameter>
    </ResourceParams>

    <Realm className="org.apache.catalina.realm.JAASRealm"
      appName="ImageStore"
      userClassNames="com.trailmagic.user.UserPrincipal"
      roleClassNames="com.trailmagic.user.GroupPrincipal"/>
</Context>
