<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<!-- $Id: $ -->


<web-app>
  <display-name>ImageStore</display-name>

  <servlet>
    <servlet-name>display</servlet-name>
    <display-name>display</display-name>
    <servlet-class>com.trailmagic.image.ui.DisplayServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>edit-add</servlet-name>
    <display-name>edit-add</display-name>
    <servlet-class>com.trailmagic.image.ui.EditAddServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>delete</servlet-name>
    <display-name>delete</display-name>
    <servlet-class>com.trailmagic.image.ui.DeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>edit-add</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/trailmagic</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>
